.myimg {
  width: 10rem;
  height: 14rem;
  padding: 10px;
}

.div-img {
  max-width: 15rem;
  height: 29rem;
  align-items: center;
  border: 5px solid blue;
  border-style: double;
  transition: 0.6s ease-in-out;
}

.div-img:hover {
  transform: rotateY(180deg);
}

.div-center {
  text-align: -webkit-center;
}

.bg {
  background-color: #bcbca4;
  width: -webkit-fill-available;
}

.div-redirect {
  cursor: pointer;
}

.example {
  width: 50%;
  margin: auto;
  ;
}

.example:hover {
  background-color: blueviolet;
  color: white;
  transform: rotateY(180deg);
}

.example-back {
  width: 50%;
  margin: auto;
  display: none;
}
/* 
.fr {
}

.fr:hover {
  transform: rotateY(-180dg);
}

.bc {
  background-color: #fff;
  transform: rotateY(180dg);
}

.bc:hover {
  transform: rotateY(0);
}
 */
