.myimg {
  width: 10rem;
  height: 14rem;
  padding: 10px;
}

.div-img {
  max-width: 15rem;
  height: 29rem;
  align-items: center;
  border: 5px solid blue;
  border-style: double;
}

.div-center {
  text-align: -webkit-center;
}

.bg {
  background-color: #bcbca4;
  width: -webkit-fill-available;
}

.div-redirect{
  cursor: pointer;
}
/* 
.fr {
}

.fr:hover {
  transform: rotateY(-180dg);
}

.bc {
  background-color: #fff;
  transform: rotateY(180dg);
}

.bc:hover {
  transform: rotateY(0);
}
 */